body {background-color: lightgrey;}
ul {list-style: none;}
section {text-align:center;font-family: sans-serif}
h1 {text-align:center;font-family: sans-serif}
h2 {text-align: center;}
nav {text-align: center;}


    


 


